<md-sidenav ng-show="vm.isRightNavDisplayed()" class="md-sidenav-right md-whiteframe-4dp"
            ng-style="{'height': vm.rightNavHeight + 'px', 'margin-top': vm.mdMedia('gt-md') ? '0' : '64px'}"
            md-component-id="right" md-is-locked-open="vm.mdMedia('gt-md')">
  <md-content class="md-padding">
    <h1 style="padding-bottom: 16px">Search Users</h1>
    <md-input-container style="width: 218px; margin-bottom: 0">
      <input type="search" ng-model="vm.searchString" placeholder="All fields">
    </md-input-container>
    <md-select ng-model="vm.callCenter" placeholder="Call Center">
      <md-option>Center 1</md-option>
    </md-select>
    <md-button class="md-raised md-accent" style="width: 130px; margin: 0 0 0 50px;">Search</md-button>
  </md-content>
</md-sidenav>
