<md-dialog aria-label="Reset Password" ng-cloak>

    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2 class="text-color">{{ 'reset_pass_dlg.header' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Close dialog" style="color: white;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p ng-bind-html="'reset_pass_dlg.content' | translate"></p>
        <br>
        <form name="resetForm">
          <md-input-container class="md-block">
            <label for="userName">{{ 'label.user_name' | translate }} *</label>
            <input type="text" name="userName" id="userName" ng-model="userName" required maxlength="30">
            <div ng-messages="resetForm.userName.$error"
                 ng-show="submitted || resetForm.userName.$touched || resetForm.userName.$dirty">
              <div ng-message="required">{{ 'validation.required' | translate }}</div>
              <div ng-message="maxlength">{{ 'validation.maxlength' | translate }}</div>
            </div>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-accent" ng-click="resetPassword($event, resetForm.$valid)">
        <span ng-bind-html="'reset_pass_dlg.submit_btn' | translate"></span>
      </md-button>
    </md-dialog-actions>
</md-dialog>
