<md-dialog aria-label="Reset Password Successful" ng-cloak>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2  class="text-color">{{ ::'reset_pass_dlg.header' | translate }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
        <md-icon md-svg-src="assets/ic_close_24px.svg" style="color: white;"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <p>
        {{ ::'reset_pass_dlg.success_msg' | translate }}
      </p>
    </div>
  </md-dialog-content>
</md-dialog>
