<div layout="row" layout-align="center center">
  <md-content layout-padding class="loginmodel md-whiteframe-2dp" flex-xs="80" flex-sm="60" flex-md="50" flex="35">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2 class="text-color">{{ 'reset_password' | translate }}</h2>
      </div>
    </md-toolbar>
    <form name="updatePasswordForm">
      <md-input-container class="md-block">
        <label for="newPassword">{{ 'label.password' | translate }} *</label>
        <input type="password" name="newPassword" ng-model="newPassword" id="newPassword">
        <div ng-messages="updatePasswordForm.newPassword.$error"
             ng-show="submitted || updatePasswordForm.newPassword.$touched || updatePasswordForm.newPassword.$dirty">
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="confirmnewPassword">{{ 'label.confirm_password' | translate }} *</label>
        <input type="password" name="confirmnewPassword" ng-pattern="{{newPassword}}"
               ng-model="confirmnewPassword" id="confirmnewPassword">
        <div ng-messages="updatePasswordForm.confirmnewPassword.$error"
             ng-show="submitted || updatePasswordForm.confirmnewPassword.$touched || updatePasswordForm.confirmnewPassword.$dirty">
          <div ng-message="pattern">Passwords do not match</div>
        </div>
      </md-input-container>
      <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="updatePassword(updatePasswordForm.$valid, UPForm)"
                   aria-label="{{ 'btn.submit' | translate }}">
          {{ 'btn.submit' | translate }}
        </md-button>
      </div>
    </form>
  </md-content>
</div>
